.flexed{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    font-size: 150%;
    flex-wrap: wrap;
    padding-left: 40%;
}
#nameofthepage{
    font-size: 200%;
    padding-bottom: 1rem;
    color: aliceblue;
}
body{
    background: linear-gradient(90deg,rgb(30, 6, 100),rgb(70, 3, 65));
}